build/
dist/
C1studios/
v26.1/
v26.2/
v26.2.1/

salvamento-automatico-em-segundo-plano-do-mindstorms.exe
salvamento-automatico-em-segundo-plano-do-mindstorms.spec
SASP-MINDSTORMS-View.exe
SASP-MINDSTORMS-View.spec